<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <a class="navbar-brand" href="/">
        <img src="/img/hotel.svg" width="35" height="35" class="img-fluid d-inline-block align-middle" alt="">
        Hotel Horizon
        <span sec:authorize="hasRole('ROLE_ADMIN')">Administrator</span>
    </a>
    <link rel="stylesheet" href="/static/css/style.css" class="text-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main Page<span class="sr-only">(current)</span></a>
            </li>
            <span sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu3"
                           role="button"
                           aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/orders/all">All Bookings</a>
                            <a class="dropdown-item" href="/orders/new">New Booking</a>
                        </div>
                    </li>
                </span>
            </span>
            <span sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu1"
                           role="button"
                           aria-expanded="false">
                            Rooms
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/rooms">All Rooms</a>
                            <a class="dropdown-item" href="/rooms/new">Add New Room</a>
                        </div>
                    </li>
                </span>
            </span>
            <span sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu2"
                           role="button"
                           aria-expanded="false">
                            Users
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/users">All Users</a>
                        </div>
                    </li>
                </span>
            </span>
            <span sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu4"
                           role="button"
                           aria-expanded="false">
                            Profile
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/users/username/(username=${username})}">Profile Info</a>
                            <a class="dropdown-item" th:href="@{/users/edit/(username=${username})}">Edit Profile</a>
                        </div>
                    </li>
                </span>
            </span>
            <span sec:authorize="isAuthenticated()">
                <span sec:authorize="hasRole('ROLE_USER')">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenu5"
                           role="button"
                           aria-expanded="false">
                            Bookings
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item"
                               th:href="@{/orders/username/(username=${username})}">My Bookings</a>
                            <a class="dropdown-item" href="/orders/new">New Booking</a>
                        </div>
                    </li>
                </span>
            </span>
        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0">
                <span sec:authorize="!isAuthenticated()">
                    <big>Hello,<span th:text="'guest!'" class="mr-3 ml-1"></span></big>
                    <a class="btn btn-primary" href="/login">Log In</a>
                    <a class="btn btn-success" href="/registration">Create New Account</a>
                </span>
                <span sec:authorize="isAuthenticated()">
                    <big>Hello, <span sec:authentication="name" class="mr-3 ml-1"></span></big>
                    <a href="/logout" class="btn btn-danger">Log Out</a>
                </span>
            </form>
        </ul>
    </div>
</nav>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>