<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Horizon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../../resources/static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/resources/static/css/core.css}"/>
</head>
<style>

    body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/background.jpg) center / cover no-repeat;
    filter: blur(5px); /* Размытие */
   }

   .form-control:focus {
    box-shadow: none;
    border-color: #76c868
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #76c868;
    color: #fff;
    cursor: pointer;
    border: solid 1px #76c868
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}



</style>
<body>
<div th:insert="~{fragments/header :: header}">Header</div>

<div align="center">
    <form th:each="room : ${rooms}"
          th:action="@{/orders/approved/{orderId}/{roomId}(orderId=${order.id},roomId=${room.id})}" method="post">
        <div class="container-sm rounded bg-white mt-5 mb-5 mr-20 ml-20">
            <div class="row">
                <div class="col-md-4 border-right">
                    <div class="d-flex flex-column align-items-center p-3 py-5">
                        <img class="rounded img-fluid" th:src="@{/img/booking.png}">
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6>
                                <p th:text="'Booking Number: ' + ${order.id}"></p>
                            </h6>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Category</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p th:text="${order.roomCategory}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Amount Of Guests</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p th:text="${order.amountOfGuests}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Date Of Check In</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p th:text="${order.dateOfCheckIn}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Date Of Check Out</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p th:text="${order.dateOfCheckOut}"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Staying Period</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p th:text="${order.stayingPeriod} + ' days'"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="roomId" name="roomId">
                                            <option value="">Set Room</option>
                                            <option th:each="room : ${rooms}"
                                                    th:value="${room.id}"
                                                    th:text="${room.roomNumber}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="mt-5 form-inline justify-content-center">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            <div class="ml-2">
                                <form th:action="@{/orders/}" th:method="get">
                                    <button class="btn btn-danger">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>