<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cover.css"/>
    <title>Hotel Horizon</title>
</head>
<style>

    body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/background.jpg) center / cover no-repeat;
   }



</style>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Create New Account</h5>
                    <form class="form-signin" th:action="@{/registration}" method="post">
                        <div class="form-label-group mt-3">
                            <label for="username">Email</label>
                            <input type="email" id="email" class="form-control" name="email"
                                   placeholder="Input there your Email" required autofocus>
                        </div>
                        <div class="form-label-group mt-2">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" name="username"
                                   placeholder="Input there your Username" required autofocus>
                        </div>
                        <div class="form-label-group mt-2">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" name="password"
                                   placeholder="Input there your Password" required>
                        </div>
                        <br/>
                        <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--div class="container">
    <div class="text-center">
        <h1 class="display-3">Welcome new User!</h1>
        <br/>
        <form th:action="@{/registration}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label> User Name : <input type="text" class="form-control" name="username"/>
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label> Password: <input type="password" class="form-control" name="password"/>
                    </label>
                </div>
                <div class="form-group col-md-6">
                    <label> Email: <input type="email" class="form-control" name="email"/>
                    </label>
                </div>
                <div class="form-row">
                    <input type="submit" class="btn btn-primary" value="Sign up"/>
                </div>
            </div>
        </form>
    </div>
</div-->
<div class="fixed-bottom mb-5" th:insert="~{fragments/footer :: footer}">&copy; 2020 The Static Templates</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>