<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel Horizon</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../../resources/static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/resources/static/css/core.css}"/>
</head>
<style>

    body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url(/img/profile.jpg) center / cover no-repeat;
    filter: blur(5px); /* Размытие */
   }


.form-control:focus {
    box-shadow: none;
    border-color: #76c868
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #76c868;
    color: #fff;
    cursor: pointer;
    border: solid 1px #76c868
}

</style>
<body>
<div th:insert="~{fragments/header :: header}">Header</div>
<div align="center">
    <form action="#" th:action="@{/users/save/(username=${user.username})}" enctype="multipart/form-data" method="post">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center p-3 py-5">
                        <form>
                            <img th:if="${user.fileName != null}" th:src="@{${'/img/user/' + user.fileName}}"
                                 class="rounded img-fluid" alt=""/>
                            <img th:unless="${user.fileName != null}" th:src="@{/img/user/u.png}"
                                 class="rounded img-fluid" alt=""/>
                            <br/>
                            <div class="custom-file"> <!-- блок для загрузки файла -->
                                <input type="file" name="file" id="customFile"> <!-- форма для загрузки файла -->
                                <label class="custom-file-label text-left" for="customFile">
                                    Choose file
                                </label>
                            </div>
                        </form>
                        <span class="font-weight-bold" th:text="${user.username}"></span>
                        <span class="text-black-50" th:text="${user.email}"></span>
                        <span> </span>
                    </div>
                </div>
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile Settings</h4>
                            <span class="border px-3 p-1 add-experience">
                                <i class="fa fa-plus"></i>&nbsp;Personal data</span>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                                <input type="text" class="form-control" th:field="*{user.userFirstName}"
                                       placeholder="first name">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Surname</label>
                                <input type="text" class="form-control" th:field="*{user.userLastName}"
                                       placeholder="surname">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Middle name</label>
                                <input type="text" class="form-control" th:field="*{user.userMiddleName}"
                                       placeholder="surname">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Date of birth</label>
                                <input type="date" class="form-control" th:field="*{user.userBirthDate}"
                                       id="userBirthDate">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Gender</label>
                                <select class="form-control" id="gender" th:field="*{user.gender}">
                                    <option th:value="${T(by.nikita.models.enums.Gender).MALE}"
                                            th:text="Male"></option>
                                    <option th:value="${T(by.nikita.models.enums.Gender).FEMALE}"
                                            th:text="Female"></option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                            <span class="border px-3 p-1 add-experience">
                                <i class="fa fa-plus"></i>&nbsp;Passport data</span>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">Passport Number</label>
                                <input type="text" class="form-control" placeholder=" enter passport number"
                                       th:field="*{user.userPassportNumber}">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Country of Issue</label>
                                <input type="text" class="form-control" placeholder="enter country"
                                       th:field="*{user.userPassportCountryOfIssue}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Date of Issue</label>
                                <input type="date" class="form-control" id="userPassportDateOfIssue"
                                       th:field="*{user.userPassportDateOfIssue}">
                            </div>
                            <div class="col-md-6">
                                <label class="labels">Date of Expiry</label>
                                <input type="date" class="form-control" id="userPassportDateOfExpiry"
                                       th:field="*{user.userPassportDateOfExpiry}">
                            </div>
                        </div>
                        <div class="mt-5 form-inline justify-content-center">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                            <div class="ml-2">
                                <form th:action="@{/users/}" th:method="get">
                                    <button class="btn btn-danger">
                                        Cancel
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center experience">
                            <span>Edit Contact data</span>
                            <span class="border px-3 p-1 add-experience">
                                <i class="fa fa-plus"></i>&nbsp;Contacts</span>
                        </div>
                        <br/>
                        <div class="col-md-12">
                            <label class="labels">Phone Number</label>
                            <input type="text" class="form-control" placeholder="phone number"
                                   th:field="*{user.userPhoneNumber}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Postal Code</label>
                            <input type="text" class="form-control" placeholder="postal code"
                                   th:field="*{user.userPostalCode}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Country</label>
                            <input type="text" class="form-control" placeholder="country"
                                   th:field="*{user.userResidenceCountry}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">State/Region</label>
                            <input type="text" class="form-control" placeholder="state"
                                   th:field="*{user.userResidenceProvince}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">City</label>
                            <input type="text" class="form-control" placeholder="city"
                                   th:field="*{user.userResidenceCity}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Street</label>
                            <input type="text" class="form-control" placeholder="street"
                                   th:field="*{user.userResidenceStreet}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Home Number</label>
                            <input type="text" class="form-control" placeholder="home"
                                   th:field="*{user.userResidenceHomeNumber}">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Apartment</label>
                            <input type="text" class="form-control" placeholder="apartment"
                                   th:field="*{user.userResidenceApartmentNumber}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

</script>

</body>
</html>